{% include 'home/header.html' %}
{% block content %}
{% load static %}
<!-- About course -->
<!-- <section>
    <div class="container">
        <div class="row pt-5">
            <div class="col-12 col-md-6 col-lg-6">
                <div>
                    <h3 >ABACUS - (Eligibility:4 to 14 year's Students)</h3>
                    <h6>Course Completion in total:09 levels</h6>
                    <h3 > WHAT ABACUS?</h3>
                    <P>An abacus is a centuries old tool, made up movable beads. On this tool, user can add, subtract, multiply and divide numbers and gradually users start to visualize this tools in mind, and do mental calculation.</P>
                    <h3 >BENEFITS OF ABACUS LEARNING: </h3>
                    <p>Learning abacus in childhood, makes children more focused, and expert in mental calculations. It is becoming popular worldwide due to this lifelong benefits.</p>
                    <a class="btn btn-primary" href="#">Addmission Enquiry</a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div>
                    <img height="300px" width="300px" src="{% static 'image/abacus.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section> -->

<section>
   <div class="container">
       <div class="row pt-5">
           <div class="col-12 col-md-12 col-lg-12">
               <div>
                  <div class="text-center">
                     <h1>ABACUS</h1>
                     <h3>Abacus Mental Arithmetic Math Skills & Brain Development Program for the Age of 4-14 Years Child</h3>
                  </div>
                   <h3 class="text-danger" > WHAT ABACUS ?</h3>
                   <P>An abacus is a centuries old tool, made up movable beads. On this tool, user can add, subtract, multiply and divide numbers and gradually users start to visualize this tools in mind, and do mental calculation.</P>
                   <!-- <a class="btn btn-primary" href="#">Addmission Enquiry</a> -->
               </div>
           </div>
         </section>
       

<section>
 <div class="container mt-5">
   <div class="row">
     <div class="col-md-6">
       <div class="card abc">
         <div class="card-body">
           <!-- <h5 class="card-title">Card Title</h5> -->
           <p class="card-text"><span class="text-danger fw-bold"> <span class="h3">ABACUS</span> (Age Group 4-14 years)</span><br> The Total Course completed in 8 levels, 
             and the course syllabus developed in three mots which are Basic, Advance & Master Course.<br><br>

             <span class="text-danger fw-bold">1. Basic Course: (Jr. Kg, Sr. Kg/1st 2nd Std.)</span><br>
             <span class="text-warning"> Beginnar, flementary, Intermediate </span>levels are covered in the belt wurse
              program, each level is to 3 to 4 months depending on the dan sing and the syllabus to be overed. Aft maleting mach level an 
              namination conducted and the tudents gen the next level wurse.<br><br>
             
              <span class="text-danger fw-bold"> 2. Advance Course: (1th to 4th Std.)</span><br>
              <span class="text-warning"> 1st Level 2nd Levels & 3rd level</span> art murred in the Advance wurte program, each evel tot 3 month's
              depending on the dass timing and the sallabus to te anvered Amer mpleting mich kvelan kamination e ronducted and the 
              urintis given the rest level.<br><br>
             
              <span class="text-danger fw-bold"> 3. Master Course: (5th, 6th Std.)</span><br>
              <span class="text-warning"> 4th Level 5yh Level & 6th level</span> are convered in the Master mune pigram, love to depending in the dast sming and the willabus
              to the covered. Ater coleting each xamination a onducted and the studenti given the at level Inomases Q and EQ
             Enhances logical & creative faculties Improves Sock & Kinesthetin RaIncreases concentration & photogenic memory
         </p>
         </div>
       </div>
     </div>
     <div class="col-md-6">
       <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShMQrWvlHBid3_jl3PV2T0_pAOqV5BPVRWtQ&usqp=CAU" width="700" class="abacusimg" alt="Placeholder Image">
     </div>
   </div>
 </div>
 <br>
 <center><a class="btn btn-primary" href="#">  Enquiry Now  </a></center>

</section>

<!-- Other courses -->
<section class="ath_carousel_se_04 py-5">
  <div class="container-fluid px-0">
      <div class="container ">
          <div class="row">
              <div class="col-sm-12 text-center">
                <h2 class="title-leaf">OTHER COURSES</h2>
              </div>
              <div class="col-md-12 px-4 pt-3">
                  <div class="owl-carousel ath_carousel_se_04_carousel owl-theme">
                      
                      <a href="" class="card">
                        <img src="{% static 'image/vedic-math.jpg' %}" class="card__image" alt="" />
                      </a>
                  

                      
                      <a href="" class="card">
                        <img src="{% static 'image/abacus.png' %}" class="card__image" alt="" />
                      </a>    
                      
                      <a href="" class="card">
                        <img src="{% static 'image/rubik.webp' %}" class="card__image" alt="" />
                      </a>    


                      
                      <a href="" class="card">
                        <img src="{% static 'image/vedic-math.jpg' %}" class="card__image" alt="" />
                      </a>    
                      
                      <a href="" class="card">
                        <img src="{% static 'image/abacus.png.jpg' %}" class="card__image" alt="" />
                      </a>    
                      
                      <a href="" class="card">
                        <img src="{% static 'image/rubik.webp' %}" class="card__image" alt="" />
                      </a>     
                  </div>
              </div>

          </div>

          

      </div>
  </div>
</section>


<!-- Abacus course video -->
<!-- <section class="py-5 youtube-slider">
    <h2  class="title-leaf">ABACUS COURSE</h2>
    <div class="slider owl-carousel mt-5">
      <div class="card">
        <div class="img">
          <iframe width="300" height="200" src="https://www.youtube.com/embed/pfldMJMZvzw?si=BHvvnvP1m_vYLJs5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  
        </div>
      </div>
      <div class="card">
        <div class="img">
          <iframe width="300" height="200" src="https://www.youtube.com/embed/pfldMJMZvzw?si=BHvvnvP1m_vYLJs5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  
        </div>
      </div>
    <div class="card">
      <div class="img">
        <iframe width="300" height="200" src="https://www.youtube.com/embed/pfldMJMZvzw?si=BHvvnvP1m_vYLJs5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  
      </div>
    </div>
  </div>
  </section> -->
  <!-- Other course video -->

<section class="ath_carousel_se_04">
  <div class="container-fluid px-0">
      <div class="container ">
          <div class="row">
              <div class="col-sm-12 text-center">
                <h2 class="title-leaf">ABACUS</h2>
              </div>
              <div class="col-md-12 px-4 pt-3" id="zindex">
                  <div class="owl-carousel ath_carousel_se_04_carousel owl-theme">
                     
                    <div class="card">
                      <div class="item">
                        <div class="col-sm-12 delay-1">
                            <div class="">
                                <div class="product-image3 ath_hover">
                                  <iframe width="250" height="200" src="https://www.youtube.com/embed/pfldMJMZvzw?si=BHvvnvP1m_vYLJs5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>

                    </div>

                    </div>


                 
                      <div class="card">
                        <div class="item">
                          <div class="col-sm-12 delay-1">
                              <div class="">
                                <div class="product-image3 ath_hover">
                                  <iframe width="250" height="200" src="https://www.youtube.com/embed/pfldMJMZvzw?si=BHvvnvP1m_vYLJs5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                              </div>
                          </div>
  
                      </div>
  
                      </div>
  
                      
                      <div class="card">
                        <div class="item">
                          <div class="col-sm-12 delay-1">
                              <div class="">
                                <div class="product-image3 ath_hover">
                                  <iframe width="250" height="200" src="https://www.youtube.com/embed/pfldMJMZvzw?si=BHvvnvP1m_vYLJs5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                              </div>
                          </div>
  
                      </div>
  
                      </div>
  


                      
                      <div class="card">
                        <div class="item">
                          <div class="col-sm-12 delay-1">
                              <div class="">
                                <div class="product-image3 ath_hover">
                                  <iframe width="250" height="200" src="https://www.youtube.com/embed/pfldMJMZvzw?si=BHvvnvP1m_vYLJs5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                              </div>
                          </div>
  
                      </div>
  
                      </div>
  
                  
                      <div class="card">
                        <div class="item">
                          <div class="col-sm-12 delay-1">
                              <div class="">
                                <div class="product-image3 ath_hover">
                                  <iframe width="250" height="200" src="https://www.youtube.com/embed/pfldMJMZvzw?si=BHvvnvP1m_vYLJs5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                              </div>
                          </div>
  
                      </div>
  
                      </div>
  
                      <div class="card">
                        <div class="item">
                          <div class="col-sm-12 delay-1">
                              <div class="">
                                <div class="product-image3 ath_hover">
                                  <iframe width="250" height="200" src="https://www.youtube.com/embed/pfldMJMZvzw?si=BHvvnvP1m_vYLJs5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                              </div>
                          </div>
  
                      </div>
  
                      </div>
  
                  </div>
              </div>

          </div>

          <!-- our clients -->

      </div>
  </div>
</section>
  

  <!-- <section class="py-3 youtube-slider">
    <h2  class="title-leaf">OTHER COURSES</h2>
    <div class="slider owl-carousel mt-3" >
      <a href="" class="card cards">
        <img src="{% static 'image/vedic-math.jpg' %}" class="card__image" alt="" />
        <div class="card__overlay">        
          <div class="card__header">
            <div class="card__header-text">
              <h3 class="card__title">Vedic Math</h3>
            </div>
          </div>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
        </div>
      </a>
      <div>
        <a href="" class="card">
          <img src="{% static 'image/rubik.webp' %}" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
              <div class="card__header-text">
                <h3 class="card__title">Rubik's</h3>
              </div>
            </div>
            <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
          </div>
        </a>
      </div>
      <a href="" class="card">
        <img src="{% static 'image/abacus.png' %}" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <div class="card__header-text">
              <h3 class="card__title">Abacus</h3>
            </div>          
          </div>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
        </div>
      </a>
</div>
  </section> -->

  

  <!-- <section> 
    <div class="cards slider owl-carousel">
      <div>
        <a href="" class="card">
          <img src="{% static 'image/abacus.png' %}" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
              <div class="card__header-text">
                <h3 class="card__title">Abacus</h3>            
              </div>
            </div>
            <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
          </div>
        </a>      
      </div>
      <div>
        <a href="" class="card">
          <img src="{% static 'image/vedic-math.jpg' %}" class="card__image" alt="" />
          <div class="card__overlay">        
            <div class="card__header">
              <div class="card__header-text">
                <h3 class="card__title">Vedic Math</h3>
              </div>
            </div>
            <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
          </div>
        </a>
      </div>
      <div>
        <a href="" class="card">
          <img src="{% static 'image/rubik.webp' %}" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
              <div class="card__header-text">
                <h3 class="card__title">Rubik's</h3>
              </div>
            </div>
            <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
          </div>
        </a>
      </div>
      <div>
        <a href="" class="card">
          <img src="{% static 'image/abacus.png' %}" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
              <div class="card__header-text">
                <h3 class="card__title">Abacus</h3>
              </div>          
            </div>
            <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
          </div>
        </a>
      </div>    
      <div>
        <a href="" class="card">
          <img src="{% static 'image/abacus.png' %}" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
              <div class="card__header-text">
                <h3 class="card__title">Abacus</h3>
              </div>          
            </div>
            <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
          </div>
        </a>
      </div>    

    </div>
  </section> -->


<!-- FAQ -->
<section class="py-5">
  <div class="container">
    <h2 class="text-center">FREQUENTLY ASKED QUESTIUION</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="accordion">
          <div class="accordion-item">
            <button id="accordion-button-1" aria-expanded="false">
              <span class="accordion-title">What are the advantage of learning Abacus?</span>
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
              <p>
                Abacus learning helps improves problem solving skills, sharpen concentration, develops confidence and improves memory
                power in children.
                
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <button id="accordion-button-2" aria-expanded="false">
              <span class="accordion-title">Why is the sky blue?</span>
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="accordion">
          <div class="accordion-item">
            <button id="accordion-button-3" aria-expanded="false">
              <span class="accordion-title">Will we ever discover aliens?</span>
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <button id="accordion-button-4" aria-expanded="false">
              <span class="accordion-title">How much does the Earth weigh?</span>
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<script>
// script for card slider

  $(document).ready(function () {
    $('.ath_carousel_se_04_carousel').owlCarousel({
        items: 4,
        nav: true,
        loop: true,
        mouseDrag: true,
        responsiveClass: true,
        navText: ["<i class='icofont-bubble-left'></i>", "<i class='icofont-bubble-right'></i>"],
        autoplay: true, // Enable autoplay
        autoplayTimeout: 3000, // Set autoplay timeout in milliseconds (e.g., 3000ms = 3 seconds)
        responsive: {
            0: {
                items: 1
            },
            480: {
                items: 2
            },
            767: {
                items: 3
            },
            992: {
                items: 3
            },
            1200: {
                items: 5
            }
        }
    });
  });
  
// script for faq 
const items = document.querySelectorAll('.accordion button');

function toggleAccordion() {
  const itemToggle = this.getAttribute('aria-expanded');

  for (i = 0; i < items.length; i++) {
    items[i].setAttribute('aria-expanded', 'false');
  }

  if (itemToggle == 'false') {
    this.setAttribute('aria-expanded', 'true');
  }
}

items.forEach((item) => item.addEventListener('click', toggleAccordion));

</script>

{% endblock %}
{% include 'home/footer.html' %}

