{% include 'home/header.html' %}
{% block content %}
{% load static %}


<!-- <section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                <div class="category text-center">
                   
                    <div class="hover-text p-3 mt-4 shadow">
                        <a class="hover-text gold text-decoration-none " href="#">I Genius 1st Abacus Mental Arithmetic State Level Competition 2016</a><br>
                    </div>
                
                    
                    <div class="hover-text p-3 mt-4 shadow">
                        <a class="hover-text gold text-decoration-none " href="#">I Genius 1st Abacus Mental Arithmetic State Level Competition 2016</a><br>
                    </div>
                    <div class="hover-text p-3 mt-4 shadow">
                        <a class="hover-text gold text-decoration-none " href="#">I Genius 1st Abacus Mental Arithmetic State Level Competition 2016</a><br>
                    </div>
                    <div class="hover-text p-3 mt-4 shadow">
                        <a class="hover-text gold text-decoration-none " href="#">I Genius 1st Abacus Mental Arithmetic State Level Competition 2016</a><br>
                    </div>
                    <div class="hover-text p-3 mt-4 shadow">
                        <a class="hover-text gold text-decoration-none " href="#">I Genius 1st Abacus Mental Arithmetic State Level Competition 2016</a><br>
                    </div>
                    <div class="hover-text p-3 mt-4 shadow">
                        <a class="hover-text gold text-decoration-none " href="#">I Genius 1st Abacus Mental Arithmetic State Level Competition 2016</a><br>
                    </div>
                    <div class="hover-text p-3 mt-4 shadow">
                        <a class="hover-text gold text-decoration-none " href="#">I Genius 1st Abacus Mental Arithmetic State Level Competition 2016</a><br>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-9 col-md-9 col-lg-9">
                <div class="row">
                    <div class="col-9 col-md-4 col-lg-4">
                        <div class="card" style="width: 18rem;">
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/pfldMJMZvzw?si=BHvvnvP1m_vYLJs5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-9 col-md-4 col-lg-4">
                        <div class="card" style="width: 18rem;">
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/pfldMJMZvzw?si=BHvvnvP1m_vYLJs5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-9 col-md-4 col-lg-4">
                        <div class="card" style="width: 18rem;">
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/pfldMJMZvzw?si=BHvvnvP1m_vYLJs5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="py-2">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 col-lg-3 pt-3">
                <div class="card videocard" style="width: 18rem;">
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/pfldMJMZvzw?si=BHvvnvP1m_vYLJs5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                    
                    <div class="card-body text-center">
                        <h5 class="card-title" >I Genius 1st Abacus Mental Arithmetic State Level Competition 2016</h5>
                    </div>
                
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3 pt-3">
                <div class="card videocard" style="width: 18rem;">
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/pfldMJMZvzw?si=BHvvnvP1m_vYLJs5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                    
                    <div class="card-body text-center">
                        <h5 class="card-title" >I Genius 1st Abacus Mental Arithmetic State Level Competition 2016</h5>
                    </div>
                
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3 pt-3">
                <div class="card videocard" style="width: 18rem;">
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/pfldMJMZvzw?si=BHvvnvP1m_vYLJs5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                    
                    <div class="card-body text-center">
                        <h5 class="card-title" >I Genius 1st Abacus Mental Arithmetic State Level Competition 2016</h5>
                    </div>
                
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3 pt-3">
                <div class="card videocard" style="width: 18rem;">
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/pfldMJMZvzw?si=BHvvnvP1m_vYLJs5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                    
                    <div class="card-body text-center">
                        <h5 class="card-title" >I Genius 1st Abacus Mental Arithmetic State Level Competition 2016</h5>
                    </div>
                
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3 pt-3">
                <div class="card videocard" style="width: 18rem;">
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/pfldMJMZvzw?si=BHvvnvP1m_vYLJs5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                    
                    <div class="card-body text-center">
                        <h5 class="card-title" >I Genius 1st Abacus Mental Arithmetic State Level Competition 2016</h5>
                    </div>
                
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3 pt-3">
                <div class="card videocard" style="width: 18rem;">
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/pfldMJMZvzw?si=BHvvnvP1m_vYLJs5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                    
                    <div class="card-body text-center">
                        <h5 class="card-title" >I Genius 1st Abacus Mental Arithmetic State Level Competition 2016</h5>
                    </div>
                
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3 pt-3">
                <div class="card videocard" style="width: 18rem;">
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/pfldMJMZvzw?si=BHvvnvP1m_vYLJs5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                    
                    <div class="card-body text-center">
                        <h5 class="card-title" >I Genius 1st Abacus Mental Arithmetic State Level Competition 2016</h5>
                    </div>
                
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3 pt-3">
                <div class="card videocard" style="width: 18rem;">
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/pfldMJMZvzw?si=BHvvnvP1m_vYLJs5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                    
                    <div class="card-body text-center">
                        <h5 class="card-title" >I Genius 1st Abacus Mental Arithmetic State Level Competition 2016</h5>
                    </div>
                
                </div>
            </div>

                
            
        </div>
    </div>
</section>



{% endblock %}
{% include 'home/footer.html' %}
