{% include 'home/header.html' %}
{% block content %}
{% load static %}

<section class="py-2">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 col-lg-3 pt-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" height="300" src="https://igeniusindia.in/assets/uploads/news/gallery_151.jpg" alt="Card image cap">
                    <div class="card-body text-center">
                        <h5 class="card-title" >I Genius 1st Abacus Mental Arithmetic State Level Competition 2016</h5>
                        </div>
                    </div>
                </div>
            <div class="col-12 col-md-3 col-lg-3 pt-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" height="300" src="https://igeniusindia.in/assets/uploads/news/gallery_170.jpg" alt="Card image cap">
                    <div class="card-body text-center">
                        <h5 class="card-title" >I Genius 1st Abacus Mental Arithmetic State Level Competition 2016</h5>
                        </div>
                    </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3 pt-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" height="300" src="https://igeniusindia.in/assets/uploads/news/gallery_173.jpg" alt="Card image cap">
                    <div class="card-body text-center">
                        <h5 class="card-title" >I Genius 1st Abacus Mental Arithmetic State Level Competition 2016</h5>
                        </div>
                    </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3 pt-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" height="300" src="https://igeniusindia.in/assets/uploads/news/gallery_178.jpg" alt="Card image cap">
                    <div class="card-body text-center">
                        <h5 class="card-title" >I Genius 1st Abacus Mental Arithmetic State Level Competition 2016</h5>
                        </div>
                    </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3 pt-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" height="300" src="https://igeniusindia.in/assets/uploads/news/gallery_186.jpg" alt="Card image cap">
                    <div class="card-body text-center">
                        <h5 class="card-title" >I Genius 1st Abacus Mental Arithmetic State Level Competition 2016</h5>
                        </div>
                    </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3 pt-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" height="300" src="https://igeniusindia.in/assets/uploads/news/gallery_180.jpg" alt="Card image cap">
                    <div class="card-body text-center">
                        <h5 class="card-title" >I Genius 1st Abacus Mental Arithmetic State Level Competition 2016</h5>
                        </div>
                    </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3 pt-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" height="300" src="https://igeniusindia.in/assets/uploads/news/gallery_238.jpg" alt="Card image cap">
                    <div class="card-body text-center">
                        <h5 class="card-title" >I Genius 1st Abacus Mental Arithmetic State Level Competition 2016</h5>
                        </div>
                    </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3 pt-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" height="300" src="https://igeniusindia.in/assets/uploads/news/gallery_240.jpg" alt="Card image cap">
                    <div class="card-body text-center">
                        <h5 class="card-title" >I Genius 1st Abacus Mental Arithmetic State Level Competition 2016</h5>
                        </div>
                    </div>
            </div>

                
            
        </div>
    </div>
</section>




{% endblock %}
{% include 'home/footer.html' %}
