{% include 'home/header.html' %}
{% block content %}
{% load static %}

<!-- <section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-8 col-md-8 col-lg-8">
        <div class="row">
          <div class="col-6 col-md-6 col-lg-6">
            <div>
              <div class="card p-3 mb-2 shadow ">
                <div class="mt-1">
                    <h3 class="heading ">Abacus Trainer</h3>
                </div>
                  <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                          <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                          <div class="ms-2 c-details">
                            <h6 class="mb-0"><strong>Qualification : </strong></h6> <span>Post Graduation</span>
                            <h6 class="mb-0"><strong>Experience :</strong> </h6> <span>2+ year's</span>
                            <h6 class="mb-0"><strong>About Role :</strong> </h6> <span>Teach students how to use the abacus tool effectively for mental arithmetic calculations.Use creative and interactive teaching methods to engage students and maintain their interest in learning abacus skills.</span>
                        </div>
                    </div>
                  </div>
              </div>
      
            </div>
          </div>
          <div class="col-6 col-md-6 col-lg-6">
            <div>
              <div class="card p-3 mb-2 shadow ">
                <div class="mt-1">
                    <h3 class="heading ">Abacus Trainer</h3>
                </div>
                  <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                          <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                          <div class="ms-2 c-details">
                            <h6 class="mb-0"><strong>Qualification : </strong></h6> <span>Post Graduation</span>
                            <h6 class="mb-0"><strong>Experience :</strong> </h6> <span>2+ year's</span>
                            <h6 class="mb-0"><strong>About Role :</strong> </h6> <span>Teach students how to use the abacus tool effectively for mental arithmetic calculations.Use creative and interactive teaching methods to engage students and maintain their interest in learning abacus skills.</span>
                        </div>
                    </div>
                  </div>
              </div>
      
            </div>
          </div>
  
        </div>
      </div>
      <div class="col-4 col-md-4 col-lg-4">
        <div class="shadow p-4">
          <h2  class="title-leaf">APPLY FOR POST </h2>
          <form action="" method="post">
            <div class="form-group">
                <label for="inputAddress" class=" fs-5">Name : </label><br>
                <input type="text" class="form-control" placeholder="Enter Your Name...">
            </div>
            <div class="form-group">
                <label for="inputAddress" class=" fs-5">E-mail : </label><br>
                <input type="text" class="form-control" placeholder="Enter Your E-mail...">
            </div>
            <div class="form-group">
                <label for="inputAddress" class=" fs-5">Contact : </label><br>
                <input type="text" class="form-control" placeholder="Enter Your Contact...">
            </div>
            <div class="form-group">
                <label for="inputAddress" class=" fs-5">Message : </label><br>
                <textarea class="w-100" name="massage" placeholder="Enter Your Message..."></textarea>
            </div>
            <div class="form-group">
              <label for="inputAddress" class=" fs-5">Resume : </label><br>
              <input type="file" class="form-control" placeholder="Enter Your Contact...">
          </div> <br>
            <a class="btn btn-primary" href="#">Submit</a>
        </form>
    
        </div>
    

      </div>      
    </div>
  </div>
</section> -->

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6 mb-3">
            <div class="card p-3 shadow">
              <div class="mt-1">
                <h3 class="heading">Abacus Trainer</h3>
              </div>
              <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                  <div class="icon"><i class="bx bxl-mailchimp"></i></div>
                  <div class="ms-2 c-details">
                    <h6 class="mb-0"><strong>Qualification : </strong></h6> <span>Post Graduation</span>
                    <h6 class="mb-0"><strong>Experience :</strong> </h6> <span>2+ years</span>
                    <h6 class="mb-0"><strong>About Role :</strong> </h6> <span>Teach students how to use the abacus tool effectively for mental arithmetic calculations. Use creative and interactive teaching methods to engage students and maintain their interest in learning abacus skills.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="card p-3 shadow">
              <div class="mt-1">
                <h3 class="heading">Abacus Trainer</h3>
              </div>
              <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                  <div class="icon"><i class="bx bxl-mailchimp"></i></div>
                  <div class="ms-2 c-details">
                    <h6 class="mb-0"><strong>Qualification : </strong></h6> <span>Post Graduation</span>
                    <h6 class="mb-0"><strong>Experience :</strong> </h6> <span>2+ years</span>
                    <h6 class="mb-0"><strong>About Role :</strong> </h6> <span>Teach students how to use the abacus tool effectively for mental arithmetic calculations. Use creative and interactive teaching methods to engage students and maintain their interest in learning abacus skills.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="shadow p-4">
          <h2 class="title-leaf">APPLY FOR POST </h2>
          <form action="" method="post">
            <div class="form-group">
              <label for="inputAddress" class="fs-5">Name : </label><br>
              <input type="text" class="form-control" placeholder="Enter Your Name...">
            </div>
            <div class="form-group">
              <label for="inputAddress" class="fs-5">E-mail : </label><br>
              <input type="text" class="form-control" placeholder="Enter Your E-mail...">
            </div>
            <div class="form-group">
              <label for="inputAddress" class="fs-5">Contact : </label><br>
              <input type="text" class="form-control" placeholder="Enter Your Contact...">
            </div>
            <div class="form-group">
              <label for="inputAddress" class="fs-5">Message : </label><br>
              <textarea class="w-100" name="massage" placeholder="Enter Your Message..."></textarea>
            </div>
            <div class="form-group">
              <label for="inputAddress" class="fs-5">Resume : </label><br>
              <input type="file" class="form-control" placeholder="Enter Your Contact...">
            </div> <br>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>      
    </div>
  </div>
</section>


{% endblock %}
{% include 'home/footer.html' %}
