{% include 'home/header.html' %}
{% block content %}
{% load static %}
<!-- About course -->
<section>
    <div class="container">
        <div class="row pt-5">
            <div class="col-12 col-md-6 col-lg-6">
                <div>
                    <h3 >ABACUS - (Eligibility:4 to 14 year's Students)</h3>
                    <h6>Course Completion in total:09 levels</h6>
                    <h3 > WHAT ABACUS?</h3>
                    <P>An abacus is a centuries old tool, made up movable beads. On this tool, user can add, subtract, multiply and divide numbers and gradually users start to visualize this tools in mind, and do mental calculation.</P>
                    <h3 >BENEFITS OF ABACUS LEARNING: </h3>
                    <p>Learning abacus in childhood, makes children more focused, and expert in mental calculations. It is becoming popular worldwide due to this lifelong benefits.</p>
                    <a class="btn btn-primary" href="#">Addmission Enquiry</a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div>
                    <img height="300px" width="300px" src="{% static 'image/abacus.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Abacus course video -->
<!-- <section class="py-5 youtube-slider">
    <h2  class="title-leaf">ABACUS COURSE</h2>
    <div class="slider owl-carousel mt-5">
      <div class="card">
        <div class="img">
          <iframe width="300" height="200" src="https://www.youtube.com/embed/pfldMJMZvzw?si=BHvvnvP1m_vYLJs5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  
        </div>
      </div>
      <div class="card">
        <div class="img">
          <iframe width="300" height="200" src="https://www.youtube.com/embed/pfldMJMZvzw?si=BHvvnvP1m_vYLJs5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  
        </div>
      </div>
    <div class="card">
      <div class="img">
        <iframe width="300" height="200" src="https://www.youtube.com/embed/pfldMJMZvzw?si=BHvvnvP1m_vYLJs5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  
      </div>
    </div>
  </div>
  </section> -->
  <!-- Other course video -->

<section class="ath_carousel_se_04">
  <div class="container-fluid px-0 py-5">
      <div class="container ">
          <div class="row">
              <div class="col-sm-12 text-center">
                <h2 class="title-leaf">KID'S ACTIVITY</h2>
              </div>
              <div class="col-md-12 px-4 pt-3">
                  <div class="owl-carousel ath_carousel_se_04_carousel owl-theme">
                      <!-- 01 -->
                    <div class="card">
                      <div class="item">
                        <div class="col-sm-12 p-2 delay-1">
                            <div class="">
                                <div class="product-image3 ath_hover">
                                  <iframe width="250" height="200" src="https://www.youtube.com/embed/pfldMJMZvzw?si=BHvvnvP1m_vYLJs5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>

                    </div>

                    </div>


                      <!-- 2 -->
                      <div class="card">
                        <div class="item">
                          <div class="col-sm-12 p-2 delay-1">
                              <div class="">
                                <div class="product-image3 ath_hover">
                                  <iframe width="250" height="200" src="https://www.youtube.com/embed/pfldMJMZvzw?si=BHvvnvP1m_vYLJs5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                              </div>
                          </div>
  
                      </div>
  
                      </div>
  
                      <!-- 3 -->
                      <div class="card">
                        <div class="item">
                          <div class="col-sm-12 p-2 delay-1">
                              <div class="">
                                <div class="product-image3 ath_hover">
                                  <iframe width="250" height="200" src="https://www.youtube.com/embed/pfldMJMZvzw?si=BHvvnvP1m_vYLJs5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                              </div>
                          </div>
  
                      </div>
  
                      </div>
  


                      <!-- 4 -->
                      <div class="card">
                        <div class="item">
                          <div class="col-sm-12 p-2 delay-1">
                              <div class="">
                                <div class="product-image3 ath_hover">
                                  <iframe width="250" height="200" src="https://www.youtube.com/embed/pfldMJMZvzw?si=BHvvnvP1m_vYLJs5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                              </div>
                          </div>
  
                      </div>
  
                      </div>
  
                      <!-- 5 -->
                      <div class="card">
                        <div class="item">
                          <div class="col-sm-12 p-2 delay-1">
                              <div class="">
                                <div class="product-image3 ath_hover">
                                  <iframe width="250" height="200" src="https://www.youtube.com/embed/pfldMJMZvzw?si=BHvvnvP1m_vYLJs5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                              </div>
                          </div>
  
                      </div>
  
                      </div>
  
                      <!-- 6 -->
                      <div class="card">
                        <div class="item">
                          <div class="col-sm-12 p-2 delay-1">
                              <div class="">
                                <div class="product-image3 ath_hover">
                                  <iframe width="250" height="200" src="https://www.youtube.com/embed/pfldMJMZvzw?si=BHvvnvP1m_vYLJs5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                              </div>
                          </div>
  
                      </div>
  
                      </div>
  
                  </div>
              </div>

          </div>

          <!-- our clients -->

      </div>
  </div>
</section>
  

  <!-- <section class="py-3 youtube-slider">
    <h2  class="title-leaf">OTHER COURSES</h2>
    <div class="slider owl-carousel mt-3" >
      <a href="" class="card cards">
        <img src="{% static 'image/vedic-math.jpg' %}" class="card__image" alt="" />
        <div class="card__overlay">        
          <div class="card__header">
            <div class="card__header-text">
              <h3 class="card__title">Vedic Math</h3>
            </div>
          </div>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
        </div>
      </a>
      <div>
        <a href="" class="card">
          <img src="{% static 'image/rubik.webp' %}" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
              <div class="card__header-text">
                <h3 class="card__title">Rubik's</h3>
              </div>
            </div>
            <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
          </div>
        </a>
      </div>
      <a href="" class="card">
        <img src="{% static 'image/abacus.png' %}" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <div class="card__header-text">
              <h3 class="card__title">Abacus</h3>
            </div>          
          </div>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
        </div>
      </a>
</div>
  </section> -->

  <section class="ath_carousel_se_04">
    <div class="container-fluid px-0">
        <div class="container ">
            <div class="row">
                <div class="col-sm-12 text-center">
                  <h2 class="title-leaf">OTHER COURSES</h2>
                </div>
                <div class="col-md-12 px-4 pt-3">
                    <div class="owl-carousel ath_carousel_se_04_carousel owl-theme">
                        <!-- 01 -->
                        <a href="" class="card">
                          <img src="{% static 'image/vedic-math.jpg' %}" class="card__image" alt="" />
                        </a>
                    
  
                        <!-- 2 -->
                        <a href="" class="card">
                          <img src="{% static 'image/abacus.png' %}" class="card__image" alt="" />
                        </a>    
                        <!-- 3 -->
                        <a href="" class="card">
                          <img src="{% static 'image/rubik.webp' %}" class="card__image" alt="" />
                        </a>    
  
  
                        <!-- 4 -->
                        <a href="" class="card">
                          <img src="{% static 'image/vedic-math.jpg' %}" class="card__image" alt="" />
                        </a>    
                        <!-- 5 -->
                        <a href="" class="card">
                          <img src="{% static 'image/abacus.png.jpg' %}" class="card__image" alt="" />
                        </a>    
                        <!-- 6 -->
                        <a href="" class="card">
                          <img src="{% static 'image/rubik.webp' %}" class="card__image" alt="" />
                        </a>     
                    </div>
                </div>
  
            </div>
  
            <!-- our clients -->
  
        </div>
    </div>
  </section>
  

  <!-- <section> 
    <div class="cards slider owl-carousel">
      <div>
        <a href="" class="card">
          <img src="{% static 'image/abacus.png' %}" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
              <div class="card__header-text">
                <h3 class="card__title">Abacus</h3>            
              </div>
            </div>
            <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
          </div>
        </a>      
      </div>
      <div>
        <a href="" class="card">
          <img src="{% static 'image/vedic-math.jpg' %}" class="card__image" alt="" />
          <div class="card__overlay">        
            <div class="card__header">
              <div class="card__header-text">
                <h3 class="card__title">Vedic Math</h3>
              </div>
            </div>
            <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
          </div>
        </a>
      </div>
      <div>
        <a href="" class="card">
          <img src="{% static 'image/rubik.webp' %}" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
              <div class="card__header-text">
                <h3 class="card__title">Rubik's</h3>
              </div>
            </div>
            <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
          </div>
        </a>
      </div>
      <div>
        <a href="" class="card">
          <img src="{% static 'image/abacus.png' %}" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
              <div class="card__header-text">
                <h3 class="card__title">Abacus</h3>
              </div>          
            </div>
            <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
          </div>
        </a>
      </div>    
      <div>
        <a href="" class="card">
          <img src="{% static 'image/abacus.png' %}" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
              <div class="card__header-text">
                <h3 class="card__title">Abacus</h3>
              </div>          
            </div>
            <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
          </div>
        </a>
      </div>    

    </div>
  </section> -->


<!-- FAQ -->
<section class="py-5">
    <div class="text-center">
        <h2  class="title-leaf">FREQUENTLY ASKED QUESTIONS</h2>
    </div>
    <div class="accordion mx-5 mt-5" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              What are the advantage of learning Abacus?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Abacus learning helps improves problem solving skills, sharpen concentration, develops confidence and improves memory
                power in children.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                What are the benefits of taking abacus classes?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Abacus math classes not only enhances a child's mathematical skills but also significantly improve concentration and mental abilities, leading to success in other subjects.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Can abacus training classes improve math skills?
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Definitely! Taking abacus training classes through Mathooz will greatly enhance math skills. Witness the tremendous improvement in your child's mathematical abilities with our proven methodologies. We can even provide referrals from our satisfied previous and current students who have attended our online abacus classes.
            </div>
          </div>
        </div>
      </div>
</section>


<script src="{% static 'javascript/card-slider.js' %}"></script>
<script>
// script for card slider

  $(document).ready(function () {
    $('.ath_carousel_se_04_carousel').owlCarousel({
        items: 4,
        nav: true,
        loop: true,
        mouseDrag: true,
        responsiveClass: true,
        navText: ["<i class='icofont-bubble-left'></i>", "<i class='icofont-bubble-right'></i>"],
        autoplay: true, // Enable autoplay
        autoplayTimeout: 3000, // Set autoplay timeout in milliseconds (e.g., 3000ms = 3 seconds)
        responsive: {
            0: {
                items: 1
            },
            480: {
                items: 2
            },
            767: {
                items: 3
            },
            992: {
                items: 3
            },
            1200: {
                items: 5
            }
        }
    });
  });
  
</script>

{% endblock %}
{% include 'home/footer.html' %}

