{% include 'home/header.html' %}
{% block content %}
{% load static %}

<section>
    <div class="container pt-2">
        <div class="row justify-content-center">
            <div class="col-4 col-md-4 col-lg-4 pt-3">
                <div class="text-center p-3 course-card">
                    <img src="{% static 'image/abacus.png' %}" height="100" width="100" alt="">
                    <h5>Abacus</h5><br> 
                    <div>
                        <h5>Abacus Course Animated Image to be Design & Add</h5><br>
                    </div>
                    <a href="{% url 'abacus' %}" class="btn btn-info rounded-pill">READ MORE</a>
                </div>

            </div>
            <div class="col-4 col-md-4 col-lg-4 pt-3">
                <div class="text-center p-3 course-card">
                    <img src="{% static 'image/abacus.png' %}" height="100" width="100" alt="">
                    <h5>Abacus</h5><br> 
                    <div>
                        <h5>Abacus Course Animated Image to be Design & Add</h5><br>
                    </div>
                    <a href="{% url 'abacus' %}" class="btn btn-info rounded-pill">READ MORE</a>
                </div>

            </div>
            <div class="col-4 col-md-4 col-lg-4 pt-3">
                <div class="text-center p-3 course-card">
                    <img src="{% static 'image/abacus.png' %}" height="100" width="100" alt="">
                    <h5>Abacus</h5><br> 
                    <div>
                        <h5>Abacus Course Animated Image to be Design & Add</h5><br>
                    </div>
                    <a href="{% url 'abacus' %}" class="btn btn-info rounded-pill">READ MORE</a>
                </div>

            </div>
            <div class="col-4 col-md-4 col-lg-4 pt-3">
                <div class="text-center p-3 course-card">
                    <img src="{% static 'image/abacus.png' %}" height="100" width="100" alt="">
                    <h5>Abacus</h5><br> 
                    <div>
                        <h5>Abacus Course Animated Image to be Design & Add</h5><br>
                    </div>
                    <a href="{% url 'abacus' %}" class="btn btn-info rounded-pill">READ MORE</a>
                </div>

            </div>

        </div>
    </div>
</section>

{% endblock %}