{% include 'home/header.html' %}
{% block content %}
{% load static %}



<section>
<div id="content " class="site-content global-layout-no-sidebar py-5">
   <center>
  <div class="container">
    <h3 class="title-leaf">Find A Centre</h3>
    <div class="inner-wrapper py-3">
    <div id="primary" class="content-area">
    <main id="main" class="site-main">
    <aside class="section section-teams">
    <div class="container">
    <div class="section-title-wrap ">
    <select id="centre-filter">
   
    <option value="*">All Centres</option>
    <option value=".navi-mumbai-airoli">Airoli (Navi Mumbai)</option>
    <option value=".andheri-east">Andheri East</option>
    <option value=".andheri-west">Andheri West</option>
    <option value=".bandra-west">Bandra</option>
    <option value=".bhayandar-east">Bhayandar East</option>
    <option value=".bhayandar-west">Bhayandar West</option>
  </center> 
   </select>
    </div>
</section>

    
<section>
  <div class="container">
    <div class="row">
      <!-- First Column -->
      <div class="col-md-4 pt-3"> <!-- Adjusted column width to fit three cards in one row -->
        <!-- First Card with Shadow -->
        <div class="card cardclr shadow mb-3">
          <div class="card-body">
            <h5 class="card-title" style="color: blue;">Airoli (Navi Mumbai)</h5>
            <p class="card-text text-center">
              <strong>Kidzee Preschool</strong><br>
              Row house no. 2 & 3, Plot no. 30, Rakesh Park, Sector 7, Airoli, Navi Mumbai - 400708
            </p>
            <p class="card-text text-center fw-bold">FRANCHISEE CONTACT:<br>8082437006</p>
           
            <div class="map-container">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3749.1364326496714!2d73.76835957585371!3d20.002787822223695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bddeb9f7bfc155d%3A0x99ad98210ae26227!2sSilver%20Plaza!5e0!3m2!1sen!2sin!4v1714215712821!5m2!1sen!2sin" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <button type="button" class="btn btn-primary mt-3 mapbtn" onclick="showMapDetails()">View Map Details</button>
          </div>
        </div>
      </div>
      
      <!-- Second Column -->
      <div class="col-md-4 pt-3"> <!-- Adjusted column width to fit three cards in one row -->
        <!-- Second Card with Shadow -->
        <div class="card cardclr shadow mb-3">
          <div class="card-body">
            <h5 class="card-title" style="color: blue;">Airoli (Navi Mumbai)</h5>
            <p class="card-text text-center">
              <strong>Kidzee Preschool</strong><br>
              Row house no. 2 & 3, Plot no. 30, Rakesh Park, Sector 7, Airoli, Navi Mumbai - 400708
            </p>
            <p class="card-text text-center fw-bold">FRANCHISEE CONTACT:<br>8082437006</p>
           
            <div class="map-container">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3749.1364326496714!2d73.76835957585371!3d20.002787822223695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bddeb9f7bfc155d%3A0x99ad98210ae26227!2sSilver%20Plaza!5e0!3m2!1sen!2sin!4v1714215712821!5m2!1sen!2sin" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <button type="button" class="btn btn-primary mt-3 mapbtn" onclick="showMapDetails()">View Map Details</button>
          </div>
        </div>
      </div>

      <div class="col-md-4 pt-3"> <!-- Adjusted column width to fit three cards in one row -->
        <!-- Second Card with Shadow -->
        <div class="card cardclr shadow mb-3">
          <div class="card-body">
            <h5 class="card-title" style="color: blue;">Airoli (Navi Mumbai)</h5>
            <p class="card-text text-center">
              <strong>Kidzee Preschool</strong><br>
              Row house no. 2 & 3, Plot no. 30, Rakesh Park, Sector 7, Airoli, Navi Mumbai - 400708
            </p>
            <p class="card-text text-center fw-bold">FRANCHISEE CONTACT:<br>8082437006</p>
           
            <div class="map-container">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3749.1364326496714!2d73.76835957585371!3d20.002787822223695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bddeb9f7bfc155d%3A0x99ad98210ae26227!2sSilver%20Plaza!5e0!3m2!1sen!2sin!4v1714215712821!5m2!1sen!2sin" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <button type="button" class="btn btn-primary mt-3 mapbtn" onclick="showMapDetails()">View Map Details</button>
          </div>
        </div>
      </div>

      
      <!-- Third Column -->
      <div class="col-md-4 pt-3"> <!-- Adjusted column width to fit three cards in one row -->
        <!-- Third Card with Shadow -->
        <div class="card cardclr shadow mb-3">
          <div class="card-body">
            <h5 class="card-title" style="color: blue;">Airoli (Navi Mumbai)</h5>
            <p class="card-text text-center">
              <strong>Kidzee Preschool</strong><br>
              Row house no. 2 & 3, Plot no. 30, Rakesh Park, Sector 7, Airoli, Navi Mumbai - 400708
            </p>
            <p class="card-text text-center fw-bold">FRANCHISEE CONTACT:<br>8082437006</p>
           
            <div class="map-container">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3749.1364326496714!2d73.76835957585371!3d20.002787822223695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bddeb9f7bfc155d%3A0x99ad98210ae26227!2sSilver%20Plaza!5e0!3m2!1sen!2sin!4v1714215712821!5m2!1sen!2sin" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <button type="button" class="btn btn-primary mt-3 mapbtn" onclick="showMapDetails()">View Map Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}
{% include 'home/footer.html' %}