{% include 'home/header.html' %}
{% block content %}
{% load static %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 col-sm-6 mx-auto " id="zindex">
                <div class="our-team">
                    <div class="pic">
                        <img src="{% static 'image/nitamam.jpg' %}">
                        <ul class="social">
                            <li><a href="#" class="fab fa-facebook"></a></li>
                            <li><a href="#" class="fab fa-twitter"></a></li>
                            <li><a href="#" class="fab fa-google-plus"></a></li>
                            <li><a href="#" class="fab fa-linkedin"></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <div class="team-info">
                            <h3 class="title">Nita Pawar</h3>
                            <span class="post">Founder</span>
                        </div>
                    </div>
                </div>
            </div>
     
        </div>
    </div>
</section>

<section>
    <div class="text-center">
        <h1>MAIN TEAM</h1>
    </div>
    <div class="container pt-4" >
        <div class="row">
            <div class="col-md-3 col-sm-6" id="zindex">
                <div class="our-team">
                    <div class="pic">
                        <img src="{% static 'image/nitamam.jpg' %}">
                        <ul class="social">
                            <li><a href="#" class="fab fa-facebook"></a></li>
                            <li><a href="#" class="fab fa-twitter"></a></li>
                            <li><a href="#" class="fab fa-google-plus"></a></li>
                            <li><a href="#" class="fab fa-linkedin"></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <div class="team-info">
                            <h3 class="title">Williamson</h3>
                            <span class="post">Head</span>
                        </div>
                    </div>
                </div>
            </div>
     
            <div class="col-md-3 col-sm-6" id="zindex">
                <div class="our-team">
                    <div class="pic">
                        <img src="{% static 'image/nitamam.jpg' %}">
                        <ul class="social">
                            <li><a href="#" class="fab fa-facebook"></a></li>
                            <li><a href="#" class="fab fa-twitter"></a></li>
                            <li><a href="#" class="fab fa-google-plus"></a></li>
                            <li><a href="#" class="fab fa-linkedin"></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <div class="team-info">
                            <h3 class="title">Williamson</h3>
                            <span class="post">Manager</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6" id="zindex">
                <div class="our-team">
                    <div class="pic">
                        <img src="{% static 'image/nitamam.jpg' %}">
                        <ul class="social">
                            <li><a href="#" class="fab fa-facebook"></a></li>
                            <li><a href="#" class="fab fa-twitter"></a></li>
                            <li><a href="#" class="fab fa-google-plus"></a></li>
                            <li><a href="#" class="fab fa-linkedin"></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <div class="team-info">
                            <h3 class="title">Williamson</h3>
                            <span class="post">HR</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6" id="zindex">
                <div class="our-team">
                    <div class="pic">
                        <img src="{% static 'image/nitamam.jpg' %}">
                        <ul class="social">
                            <li><a href="#" class="fab fa-facebook"></a></li>
                            <li><a href="#" class="fab fa-twitter"></a></li>
                            <li><a href="#" class="fab fa-google-plus"></a></li>
                            <li><a href="#" class="fab fa-linkedin"></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <div class="team-info">
                            <h3 class="title">Williamson</h3>
                            <span class="post">Supervisor</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section>
    <div class="text-center">
        <h1>MEET OUR TEAM</h1>
    </div>
    <div class="container pt-4" >
        <div class="row">
            <div class="col-md-3 col-sm-6" id="zindex">
                <div class="our-team">
                    <div class="pic">
                        <img src="{% static 'image/nitamam.jpg' %}">
                        <ul class="social">
                            <li><a href="#" class="fab fa-facebook"></a></li>
                            <li><a href="#" class="fab fa-twitter"></a></li>
                            <li><a href="#" class="fab fa-google-plus"></a></li>
                            <li><a href="#" class="fab fa-linkedin"></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <div class="team-info">
                            <h3 class="title">Williamson</h3>
                            <span class="post">Head</span>
                        </div>
                    </div>
                </div>
            </div>
     
            <div class="col-md-3 col-sm-6" id="zindex">
                <div class="our-team">
                    <div class="pic">
                        <img src="{% static 'image/nitamam.jpg' %}">
                        <ul class="social">
                            <li><a href="#" class="fab fa-facebook"></a></li>
                            <li><a href="#" class="fab fa-twitter"></a></li>
                            <li><a href="#" class="fab fa-google-plus"></a></li>
                            <li><a href="#" class="fab fa-linkedin"></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <div class="team-info">
                            <h3 class="title">Williamson</h3>
                            <span class="post">Manager</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6" id="zindex">
                <div class="our-team">
                    <div class="pic">
                        <img src="{% static 'image/nitamam.jpg' %}">
                        <ul class="social">
                            <li><a href="#" class="fab fa-facebook"></a></li>
                            <li><a href="#" class="fab fa-twitter"></a></li>
                            <li><a href="#" class="fab fa-google-plus"></a></li>
                            <li><a href="#" class="fab fa-linkedin"></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <div class="team-info">
                            <h3 class="title">Williamson</h3>
                            <span class="post">HR</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6" id="zindex">
                <div class="our-team">
                    <div class="pic">
                        <img src="{% static 'image/nitamam.jpg' %}">
                        <ul class="social">
                            <li><a href="#" class="fab fa-facebook"></a></li>
                            <li><a href="#" class="fab fa-twitter"></a></li>
                            <li><a href="#" class="fab fa-google-plus"></a></li>
                            <li><a href="#" class="fab fa-linkedin"></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <div class="team-info">
                            <h3 class="title">Williamson</h3>
                            <span class="post">Supervisor</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>




{% endblock %}
{% include 'home/footer.html' %}
