/* CSS FOR HOME PAGE */
body{
  font-family: "Poppins", sans-serif;
  background: url("static 'image/Untitled design.png'");
}
/* Navbar CSS */
.main{
    padding-left: 8%;
}
.navmain{
    padding-left: 5%;
}

.mainul li a{
    color: #077bb4; 
}

/*  hover when on navbar item */
ul li a:hover {
  box-shadow: 0 0 5px #077bb4;
}

/* when hover on name display dropdown automatic */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

/* This will hide the dropdown initially */
.dropdown-menu {
  display: none;
}

/* navbar Sticky */
.topnavbar{
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

/* Slider card index */
#zindex{
  position: relative;
  opacity: 1;
}

/* @media (max-width: 768px) {
  .topnavbar {
      position: sticky; 
  }
} */


/* style from banner */
/* Add styles for the pop-up here */
.popup {
  position: fixed;
  top: 0; /* Initially off-screen from the top */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: white;
  padding: 40px;
  border: 2px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  transition: top 0.5s ease; /* Adding transition for smooth animation */
}
.popup img {
  width: 100%;
  max-width: 100%;
  height: 500px;
  display: block;
  margin: 0 auto;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .popup img {
    max-width: 100%;
    height: auto;
  }
  .popup{
    padding: 8px;
    padding-top: 35px;
  }
}

/* All heading color */
h1,h2,h3,h4,h5,h6{
  color: #077bb4;
}

/* counter css */
.counter{
  background-color: #ffeabd;
}
.text-title  h2
{
  color: black;
}

.count1 h2{
  background-color: #f58634;
  width: 183px;
  padding: 25px 0px 25px 0px;
  border-radius: 27px 1px 27px 1px;
  /* margin-left: 53px; */
}

.count1 h5{
  color: red;
  float: left;
}

.count2 h2{
  background-color: #01afec;
  width: 183px;
  padding: 25px 0px 25px 0px;
  border-radius: 27px 1px 27px 1px;
  /* margin-left: 53px; */
}

.count2 h5{
  color: #a18004;
  float: left;
}

.count3 h2{
  background-color: #73c24a;
  width: 183px;
  padding: 25px 0px 25px 0px;
  border-radius: 27px 1px 27px 1px;
  /* margin-left: 53px; */
}
.count3 h5{
  color: #f58634;
  float: left;
}
.count4 h2{
  background-color: #fdd024;
  width: 183px;
  padding: 25px 0px 25px 0px;
  border-radius: 27px 1px 27px 1px;
  /* margin-left: 53px; */
}
.count4 h5{
  color: #01afec;
  float: left;
}

.count5 h2{
  background-color: #f3585c;
  width: 183px;
  padding: 25px 0px 25px 0px;
  border-radius: 27px 1px 27px 1px;
  /* margin-left: 53px; */
}

.count5 h5{
  color: #46b90a;
  float: left;
}


@media (max-width: 700px) {
  .count-box {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
}

/* heading underline css */
.title-leaf {
  display: inline-block; /* Ensures the span takes the width of its content */
  border-bottom: 2px solid #d30a10; /* Dark color for the underline */
  padding-bottom: 7px;
}


/* Course card hover effect */

.card-img-top {
  transition: transform 0.3s ease;
}

.card:hover .card-img-top {
  transform: scale(1.1);
}

/* end Course card hover effect */


/* youtube video slider */
/* .youtube-slider{
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
  background: white;
} 
.slider{
  max-width: 1100px;
  display: flex;
}
.slider .card{
  flex: 1;
  margin: 0 10px;
  background: #fff;
  width: 302px;
  border-radius: 24px;
}

.youtube-slider .img iframe{
  border-radius: 24px;
}  */

/* class mode section */
.class-mode{
    /* border-radius: 37px 0px 37px 0px; */
    border: 2px solid orange;
}

/* Testimonial */

.testimonial{
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
    background: white;

}

/* Social Media icon css */
.inqiry-btn{
  top: 60%;
  left: 94%;
  z-index: 1;
}

@media only screen and (max-width: 600px){
  .inqiry-btn{
    top: 50%;
    left: 89%;
    z-index: 1;
  }
  
}

.story{
  background-color: #f8f5f2a3;
}

/* Testimonial */
.owl-carousel .owl-item img {
	display: inline-block !important;
	width: 100%;
}
.author-img img {
	width: 70px !important;
	height: auto;
	border-radius: 100%;
}
.font-medium {
	font-weight: 500;
}
.border-radius-new {
	border-radius: 20px;
}
img.comms {
	width: 40px !important;
	height: auto;
}

/* other testimonial */
.testimonial {
  border: none;
  padding: 20px;
  margin-bottom: 20px;

  /* border-radius: 10px;  */
}
.testimonial-description {
  margin-top: 10px;
}
.rounded-icon {
  border-radius: 50%;
  max-width: 143px;
  height: 130px;
  background-color: grey; /* Set background color to grey */
  border: 2px solid #76c04b; /* Set border color to red */
}


/* Course card css */

.course-card{
  border: 2px solid orange;
}
/* franchise css */
.franhead{
  color: #f58733;
}
.franpara #para1{
  color: #e93337;
}
.franpara #para2{
  color: #4589b8;
}
.franpara #para3{
  color: #77c04b;
}
.franpara #para4{
  color: #ab0404;
}
/* franchise card hover */
.custom-card {
  border: 2px solid red;
  box-shadow: 0 4px 8px orange;
  transition: transform 0.3s;
}
.custom-card:hover {
  transform: scale(1.05);
}

/* franchise card icon css */
/* why become franchiese  */

.icon {
  width: 90px;
  height: 90px;
 margin-bottom: 2px; /* Adjust spacing */
}

.card-title {
  text-align: center;
  position: relative;
  margin-bottom: 1rem;
}
/* .card-title::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px; 
  height: 2px; 
  background-color: black; 
} */
/* Custom CSS for card container */
.scrollable-container {
  max-height: 400px; /* Set maximum height for the container */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Achivement hover effect */
.imgtext a:link {
  color: green;
}

/* blog page css */
/* Demo Code: */
.projcard-container {
  margin: 50px 0;
}

/* Actual Code: */
.projcard-container,
.projcard-container * {
  box-sizing: border-box;
}
.projcard-container {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
.projcard {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #ddd;
  font-size: 18px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.projcard:hover {
  box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
  transform: translate(0px, -3px);
}
.projcard::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 0.07;
}
.projcard:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #424242, transparent 50%);
}
.projcard-innerbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.projcard-img {
  position: absolute;
  height: 300px;
  width: 400px;
  top: 0;
  left: 0;
  transition: transform 0.2s ease;
}
.projcard:nth-child(2n) .projcard-img {
  left: initial;
  right: 0;
}
.projcard:hover .projcard-img {
  transform: scale(1.05) rotate(1deg);
}
.projcard:hover .projcard-bar {
  width: 70px;
}
.projcard-textbox {
  position: absolute;
  top: 7%;
  bottom: 7%;
  left: 430px;
  width: calc(100% - 470px);
  font-size: 17px;
}
.projcard:nth-child(2n) .projcard-textbox {
  left: initial;
  right: 430px;
}
.projcard-textbox::before,
.projcard-textbox::after {
  content: "";
  position: absolute;
  display: block;
  background: #ff0000bb;
  background: #fff;
  top: -20%;
  left: -55px;
  height: 140%;
  width: 60px;
  transform: rotate(8deg);
}
.projcard:nth-child(2n) .projcard-textbox::before {
  display: none;
}
.projcard-textbox::after {
  display: none;
  left: initial;
  right: -55px;
}
.projcard:nth-child(2n) .projcard-textbox::after {
  display: block;
}
.projcard-textbox * {
  position: relative;
}
.projcard-title {
  font-family: 'Voces', 'Open Sans', arial, sans-serif;
  font-size: 24px;
}
.projcard-subtitle {
  font-family: 'Voces', 'Open Sans', arial, sans-serif;
  color: #888;
}
.projcard-bar {
  left: -2px;
  width: 50px;
  height: 5px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}
.projcard-blue .projcard-bar { background-color: #0088FF; }
.projcard-blue::before { background-image: linear-gradient(-70deg, #0088FF, transparent 50%); }
.projcard-blue:nth-child(2n)::before { background-image: linear-gradient(-250deg, #0088FF, transparent 50%); }
.projcard-red .projcard-bar { background-color: #D62F1F; }
.projcard-red::before { background-image: linear-gradient(-70deg, #D62F1F, transparent 50%); }
.projcard-red:nth-child(2n)::before { background-image: linear-gradient(-250deg, #D62F1F, transparent 50%); }
.projcard-green .projcard-bar { background-color: #40BD00; }
.projcard-green::before { background-image: linear-gradient(-70deg, #40BD00, transparent 50%); }
.projcard-green:nth-child(2n)::before { background-image: linear-gradient(-250deg, #40BD00, transparent 50%); }
.projcard-yellow .projcard-bar { background-color: #F5AF41; }
.projcard-yellow::before { background-image: linear-gradient(-70deg, #F5AF41, transparent 50%); }
.projcard-yellow:nth-child(2n)::before { background-image: linear-gradient(-250deg, #F5AF41, transparent 50%); }
.projcard-orange .projcard-bar { background-color: #FF5722; }
.projcard-orange::before { background-image: linear-gradient(-70deg, #FF5722, transparent 50%); }
.projcard-orange:nth-child(2n)::before { background-image: linear-gradient(-250deg, #FF5722, transparent 50%); }
.projcard-brown .projcard-bar { background-color: #C49863; }
.projcard-brown::before { background-image: linear-gradient(-70deg, #C49863, transparent 50%); }
.projcard-brown:nth-child(2n)::before { background-image: linear-gradient(-250deg, #C49863, transparent 50%); }
.projcard-grey .projcard-bar { background-color: #424242; }
.projcard-grey::before { background-image: linear-gradient(-70deg, #424242, transparent 50%); }
.projcard-grey:nth-child(2n)::before { background-image: linear-gradient(-250deg, #424242, transparent 50%); }
.projcard-customcolor .projcard-bar { background-color: var(--projcard-color); }
.projcard-customcolor::before { background-image: linear-gradient(-70deg, var(--projcard-color), transparent 50%); }
.projcard-customcolor:nth-child(2n)::before { background-image: linear-gradient(-250deg, var(--projcard-color), transparent 50%); }
.projcard-description {
  z-index: 10;
  font-size: 15px;
  color: #424242;
  height: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.projcard-tagbox {
  position: absolute;
  bottom: 3%;
  font-size: 14px;
  cursor: default;
  user-select: none;
  pointer-events: none;
}
.projcard-tag {
  display: inline-block;
  background: #E0E0E0;
  color: #777;
  border-radius: 3px 0 0 3px;
  line-height: 26px;
  padding: 0 10px 0 23px;
  position: relative;
  margin-right: 20px;
  cursor: default;
  user-select: none;
  transition: color 0.2s;
}
.projcard-tag::before {
  content: '';
  position: absolute;
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  height: 6px;
  left: 10px;
  width: 6px;
  top: 10px;
}
.projcard-tag::after {
  content: '';
  position: absolute;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #E0E0E0;
  border-top: 13px solid transparent;
  right: -10px;
  top: 0;
}

.projcard-description {
  /* Add styles for the description */
  max-height: 200px; /* Adjust the maximum height as needed */
  overflow-y: hidden; /* Show vertical scrollbar when content overflows */
}
.projcard-description:hover {
  overflow-y: auto; /* Show scrollbar on hover */
}

/* Media query for mobile responsiveness */
@media screen and (max-width: 600px) {
  .projcard {
    width: 100%;
  }
}


/* course card hover effect color */
 /* Normal text color */
 .hover-text {
  color: black;
  transition: color 0.3s; /* Smooth transition effect */
}

/* Achivement text color on hover */
.hover-text:hover {
  color: #eb3237;
}

/* Change text color to blue on hover */
.hover-text.blue:hover {
  color: #eb3237;
}

/* course card css */
:root {
  --surface-color: #fff;
  --curve: 40;
}


/* .cards {
  height: 500px;
} */

.card {
  position: relative;
  display: block;
  height: 100%;  
  /* border-radius: calc(var(--curve) * 1px); */
  overflow: hidden;
  text-decoration: none;
  margin-right: 12px;
}

.card__image {      
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: black;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: black;  
}

.card__status {
  font-size: .8em;
  color: black;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: black;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
} 

.videocard{
  height: 100%;
}

/* css for gallary image */
.cardtext{
  position: relative;
  top: -111px;
  background-color: white;
}
.imgcard{
  height: 71%;
}

/* our team page card css */

.our-team{
  text-align: center;
  margin-bottom: 100px;
  z-index: 1;
  position: relative;
}
.our-team .pic{
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.our-team .pic:after{
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease 0s;
}
.our-team:hover .pic:after{ opacity: 1; }
.our-team .pic img{
  width: 100%;
  height: auto;
}
.our-team .social{
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 0;
  z-index: 1;
  transition: all 0.5s ease 0s;
}
.our-team:hover .social{ opacity: 1; }
.our-team .social li{ display: inline-block; }
.our-team .social li a{
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  border: 1px solid #fff;
  font-size: 15px;
  color: #fff;
  margin-right: 10px;
  transition: all 0.5s ease 0s;
}
.our-team .social li a:hover{
  background: #fff;
  color: #000;
}
.our-team .team-content{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px dotted #ddd;
  position: absolute;
  bottom: -70px;
  left: 0;
  z-index: -1;
  transition: all 0.5s ease 0s;
}
.our-team:hover .team-content{ 
  border: 2px dotted #f48734;
 }
.our-team .team-info{
  width: 100%;
  color: #464646;
  position: absolute;
  bottom: 12px;
  left: 0;
}
.our-team .title{
  font-size: 20px;
  font-weight: 600;
  color: #0799d1;
  margin: 0 0 5px 0;
  transition: all 0.5s ease 0s;
}
.our-team:hover .title{ 
  color: #eb3237;
 }
.our-team .post{
  display: block;
  font-size: 14px;
  color: #464646;
}


@media (max-width: 768px) {
  .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .col-md-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* find-us */
  /* Adding background image to the card */
  .cardclr {
    /* background-image: url('https://cdn4.vectorstock.com/i/1000x1000/12/83/map-of-the-world-on-blur-background-vector-4681283.jpg'); */
    background-color: #d7dde0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 20px; /* Add padding to ensure content is visible */
    color: black; /* Set text color to white for better readability */
    opacity: 0.8; /* Set opacity for the background image */
    position: relative;
  
  }
  
  
   .map-container{
    position: relative;
    z-index: 1;
    visibility: visible;
    opacity: 0.8;
    width: 100px;
    height: 100px;
    overflow: hidden;
  } 
  .mapbtn{
    position: relative;
    top: -81px;
    left: 139px;
  }


/* Background opacity image */

.card::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
 
 
}



/* css for image carousel */

a {
  text-decoration: none;
  color: #232323;
}

h4 {
  font-size: 18px;
}

a:hover {
  text-decoration: none;
  color: #232323;
}

/* Circle */
.ath_hover {
  position: relative;
  width: 100%;
  height: 200px;
  padding: 0px !important;
  overflow: hidden;

}

.ath_hover::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: '';
  width: 0;
  height: 0;
  background: rgba(244, 229, 172, .4);
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}

.ath_hover:hover::before {
  -webkit-animation: circle .75s;
  animation: circle .75s;
}

.ath_hover img {
  transition: all .3s;
}

.ath_hover:hover img {
  transform: scale(1.2);
}

@-webkit-keyframes circle {
  0% {
      opacity: 1;
  }

  40% {
      opacity: 1;
  }

  100% {
      width: 200%;
      height: 200%;
      opacity: 0;
  }
}

@keyframes circle {
  0% {
      opacity: 1;
  }

  40% {
      opacity: 1;
  }

  100% {
      width: 200%;
      height: 200%;
      opacity: 0;
  }
}

.owl-carousel .owl-nav .owl-prev:focus,
.owl-carousel .owl-nav .owl-next:focus {
  outline: none;
}


.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  outline: none;
}


/*ath_carousel_se_04 start*/
.ath_carousel_se_04 {
  overflow: hidden;
}


.ath_carousel_se_04 .product-grid3 {
  border: none;
  box-shadow: none;
}

.ath_carousel_se_04 .owl-theme .owl-dots {
  text-align: center;
  margin-top: 18px;
}

.ath_carousel_se_04 .owl-theme .owl-dots .owl-dot {
  display: inline-block;
}

.ath_carousel_se_04 .owl-theme .owl-dots .owl-dot span {
  width: 9px;
  height: 9px;
  margin: 4px;
  border: 2px solid #94a5b4;
  display: block;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.ath_carousel_se_04 .owl-theme .owl-dots .owl-dot:hover span {
  border-color: #2bb0ef;
}

.ath_carousel_se_04 .owl-theme .owl-dots .owl-dot.active span {
  border-color: #2bb0ef;
}

.ath_carousel_se_04 .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 42%;
  right: -20px;
  padding: 0px 1px !important;
  background: rgb(255, 255, 255);
  display: inline-block;
  transform: translateY(-50%);
  border-radius: 5px;
  font-size: 32px;
  line-height: 32px;
  color: #2bb0ef;
  box-shadow: 0 0 8px rgba(0, 0, 0, .25);
}

.ath_carousel_se_04 .owl-carousel .owl-nav button.owl-next:hover {
  background: #2bb0ef;
  color: #fff;
}

.ath_carousel_se_04 .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 42%;
  left: -20px;
  padding: 0px 1px !important;
  background: rgb(255, 255, 255);
  display: inline-block;
  transform: translateY(-50%);
  border-radius: 5px;
  font-size: 32px;
  line-height: 32px;
  color: #2bb0ef;
  box-shadow: 0 0 8px rgba(0, 0, 0, .25);
}

.ath_carousel_se_04 .owl-carousel .owl-nav button.owl-prev:hover {
  background: #2bb0ef;
  color: #fff;
}

.ath_carousel_se_04 .owl-arrow .owl-nav {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.8rem;
}

.ath_carousel_se_04 .owl-arrow .owl-nav .owl-prev,
.ath_carousel_se_04 .owl-arrow .owl-nav .owl-next {
  display: inline-block;
  transition: all 0.6s ease-in-out;
  color: #000000;
}

@media only screen and (max-width: 768px) {
  .ath_carousel_se_04 .owl-carousel .owl-nav button.owl-prev {
      top: 42%;
      left: 0px;

  }

  .ath_carousel_se_04 .owl-carousel .owl-nav button.owl-next {
      top: 42%;
      right: 0px;
  }
}

/* Achivement-Award page css */
.awardhead{
  border: 2px solid #f68634;
  padding: 14px;
  width: 454px;
}
.awardimg{
  border: 2px solid #f68634;
  padding: 14px;
  width: 454px;
  margin-top: 12px;
}

.why{
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url("../../image/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* FAQ CSS*/
.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}

.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #73c24a;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #73c24a;
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #73c24a;
  border: 1px solid #73c24a;
}

.accordion button .accordion-title {
  padding: 1em 1.5em 1em 1em;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 9px;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded='true'] {
  color: #73c24a;
}
.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  overflow-y: auto;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 1em;
}

