
.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
  }
  
  .page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
  }
  
  /* for toggle behavior */
  
  #sidebar.active {
    margin-left: -17rem;
  }
  
  #content.active {
    width: 100%;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -17rem;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #content {
      width: 100%;
      margin: 0;
    }
    #content.active {
      margin-left: 17rem;
      width: calc(100% - 17rem);
    }
  }
  
  /*
  *
  * ==========================================
  * FOR DEMO PURPOSE
  * ==========================================
  *
  */
  
  body {
    background: #599fd9;
    background: -webkit-linear-gradient(to right, #599fd9, #c2e59c);
    background: linear-gradient(to right, #599fd9, #c2e59c);
    min-height: 100vh;
    overflow-x: hidden;
  }
  
  .separator {
    margin: 3rem 0;
    border-bottom: 1px dashed #fff;
  }
  
  .text-uppercase {
    letter-spacing: 0.1em;
  }
  
  .text-gray {
    color: #aaa;
  }

  .counter {
    background-color: #f5f5f5;
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #FF5E00;
}

.page-wrapper {
    position: relative;
    min-height: 100vh; /* Ensure the page takes at least the full viewport height */
}

.content-wrapper {
    padding-top: 60px; /* Adjust according to the height of your navbar */
    padding-bottom: 60px; /* Adjust according to the height of your footer */
    overflow-y: auto; /* Enable vertical scrolling for content overflow */
    position: relative;
}

.footer {
    width: 100%;
    padding: 20px 0;
    text-align: center;
}


